<div *ngIf="stations">
   <mat-card class="station" *ngFor="let station of stations">
      <mat-card-title class="title">
         {{ station.name }}
      </mat-card-title>

      <div class="content-wrapper">
         <div class="route-rows">
            <mat-card-content class="content" *ngFor="let route of station.routes">
               <span class="vehicle-type">{{ vehicleTypeLabels[route.routeType] }} {{ route.routeNumber }}</span>

               <span class="direction-wrapper">
                  <span>{{ route.firstStationName }}</span>
                  <span>↓</span>
                  <span>{{ route.lastStationName }}</span>
               </span>
            </mat-card-content>
         </div>

         <div class="report-buttons-wrapper">
           <button [disabled]="station.marked" class="report-button" mat-raised-button color="primary" (click)="reportConductor(station, false)">
              <div>Отбележи контрола</div>
           </button>

           <button [disabled]="station.marked" class="report-button" mat-raised-button color="primary" (click)="reportConductor(station, true)">
              <div>Отбележи контрола</div>
              <div>в присъствието на полиция</div>
           </button>
         </div>
      </div>
   </mat-card>
   <mat-card *ngIf="!!stations.length" class="note">Показаните спирки са най-близките до Вас.</mat-card>
   <mat-card *ngIf="!stations.length" class="warning">Няма спирки в близост до Вас!</mat-card>
</div>

<mat-spinner *ngIf="!stations"></mat-spinner>
