/* h1 {
   text-align: center;
   background: rgb(200, 200, 230);
   margin-top: 0;
   border-bottom: 2px solid darkgray;
   color: #229;
} */

.title {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  /* flex: 1 1 auto; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
  text-align: center;
  width: 100%;
  /* display: block; */
}
